<html>
  <head></head>
  <body>
    <font size="5">
      <p>Hello {{name}}!</p>

      <p>
        Thank you for registering for {ehacks} 2023. You're registration is
        confirmed. We are excited to have you join us for the event! We will be
        sending you more information about the event prior to the start date.
      </p>

      <p>
        Please join our discord to meet your fellow hackers and stay up to date.
        It will be our main form of communication and we will be releasing any
        important announcements regarding the event through Discord:
        {{discord_link}}
      </p>

      <p>Best Regards,</p>
      <p>eHacks Team</p>
    </font>
  </body>
</html>
