<html>
  <head></head>
  <body style="font-size: 18px; font-family: Arial, Helvetica, sans-serif">
    <p>Hello Hacker!</p>

    <p>
      eHacks is a day away! We hope that you are as excited as we are. Here is
      some important information regarding the event:
    </p>

    <h1>Discord</h1>
    <p>
      If you have not joined our Discord server, please do so here:
      {{discord_link}}. We will be using Discord as our main form of
      communication and will be releasing any important announcements regarding
      the event through Discord. It's also a space that you can use to
      communicate with other hackers.

      <strong>
        Once you join the Discord server, make sure to accept the rules to get
        access to the server.
      </strong>
    </p>

    <h1>Things to Bring</h1>
    <p>
      The venue will not have any beds or showers. If you plan on staying
      overnight, here are some things to bring:
    </p>
    <ul>
      <li>Laptop (or something to program with)</li>
      <li>Laptop and Phone chargers</li>
      <li>Sleeping stuff (blankets, pillows, sleeping bag, etc.)</li>
      <li>Toothbrush/toothpaste</li>
      <li>Deodorant</li>
      <li>Change of clothes for two days</li>
      <li>ID</li>
      <li>Hardware (if you are interested in doing hardware based project)</li>
    </ul>
    <p>Things <strong>NOT</strong> to bring:</p>
    <ul>
      <li>Virus of any kind. If you are sick, stay home</li>
      <li>Anything illegal. (Please use common sense)</li>
    </ul>

    <h1>Bus</h1>
    <p>
      For those taking the bus, it will leave from the circle right outside of
      the engineering building on SIUE's campus at 4:20pm on Friday. It will
      make a trip Friday and then make a trip Sunday, leaving from T-Rex at
      1:00pm.
      <strong
        >Only those who have inicated that they would like to take the bus </strong
      >will be able to take the bus to T-Rex.
    </p>

    <h1>Parking</h1>
    <p>
      There will not be any parking at the event venue. There will be paid
      street parking throughout the city (although street parking is not
      recommended). There are also various parking locations around the venue
      (<a
        href="https://www.google.com/maps/d/viewer?mid=1gW_qdpjH40lJdt1AeolEgdQasas&ll=38.63036612889975%2C-90.19501285000003&z=16"
        >Link to Google Maps Parking Info</a
      >), but their price fluctuates based on the events going on in the city.
    </p>
    <br />

    <p>
      If you have any questions, do not hesitate to email us, or reach out to an
      organizer in the Discord
    </p>

    <p>Best Regards,</p>
    <p>eHacks Team</p>
  </body>
</html>
