<html>
  <head></head>
  <body style="font-size: 18px; font-family: Arial, Helvetica, sans-serif">
    <p>Hello Hacker!</p>

    <p>
      We thank you for coming out and attending eHacks! We had a ton of fun
      at the event and hope you did as well. We are following up to ask that you
      fill out a post eHacks survey to help us improve future eHacks.
    </p>

    <p>
      If you already filled out the survey, you don't have to do it again,
      although we did add another question asking how you heard about the event.
      If you would like, feel free to answer just that question and submit the
      form.
    </p>

    <p>
      If you didn't attend eHacks, we would also like to hear from you! Please
      let us know why and if there is anything we can do to improve our
      communication leading up to the event.
    </p>

    <p>
      The survey can be found here:
      <a href="https://forms.gle/aXCRAYTQHYF1HBS9A"
        >https://forms.gle/aXCRAYTQHYF1HBS9A</a
      >
    </p>

    <p>Best Regards,</p>
    <p>eHacks Team</p>
  </body>
</html>
